#mytweeks--navtag {
	border-bottom: 1px solid dimgrey;
}

.div--img {
	border-radius: 50% 0% 50% 0%;
	box-shadow: 0px 0px 7px #99ff99;
}

.img--tag {
	width: 40px;
	height: 40px;
}

li {
	list-style: none;
}